.hide {
  display: none !important;
}

.movie-poster:hover {
  filter: brightness(65%);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
